<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %>
<table>
<tr>
<td> Name </td>
<td> Address </td>
<td> Action </td>
</tr>
<% @author.each do |q| %>
    <tr>
    <td><%= q.name %></td>
    <td><%= q.address %></td>
    <td><%= link_to 'detail', author_path(q) %></td>  <td><%= link_to 'edit', edit_author_path(q) %></td>  <td><%= link_to 'delete', author_path(q), method: :delete, data: {confirm: 'are you sure?'} %></td>
    </tr>
<% end %>   

</table>
<%= link_to 'Add New', new_author_path %>