<!DOCTYPE html>
<html>
  <head>
    <title>Newspaper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h2> List of Book </h2>

  <% if current_user %>
  <div>Halo <%= current_user.name %></div>
  <%= link_to 'log out', session_path(current_user),method: :delete %>
  <% else %>
  Please enter your username and password
  <% end %>

  <%= yield %>
  </body>
</html>
