<h2> Sign in </h2>

<%= form_for @user,url: accounts_path do |q| %>
    <div>
    <%= q.label :name %>
    </div>
    <div>
    <%= q.text_field :name %>
    </div>

    <div>
    <%= q.label :username %>
    </div>
    <div>
    <%= q.text_field :username %>
    </div>

    <div>
    <%= q.label :password %>
    </div>
    <div>
    <%= q.password_field :password %>
    </div>

    <div>
    <%= q.submit 'register' %>
    </div>
<% end %>